html {
	background-color: .ffffff;
}

body {
	font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}

main {
	width: 1000px;
	margin: 20px auto 0;
}

.menu_icon {
	display: none;
}

header {
	font-size: 16px;
	background-color: rgba(0, 0, 0, 0.1);
	padding: 8px 0;
	width: 100%;
}

.header_inner {
	font-size: 0;
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

header h1 img {
	width: 220px;
}

.site_navi_list {
	font-size: 12px;
	display: flex;
	justify-content: space-between;
}

.site_navi_list_item {
	list-style: none;
	padding: 0px 10px;
	text-decoration: none;
}

.site_navi_list_item:last-child {
	margin-right: 0px;
}

.site_navi_list_item_link {
	color: #333333;
}

.site_navi_smapho {
	display: none;
}

.mainmenu {
	width: 100%;
	height: 28px;
}

.mainmenu_list {
	display: flex;
	justify-content: center;
}

.mainmenu_list_item {}

.mainmenu_list_item:hover {
	border-bottom: 1px solid #333333;
}

.mainmenu_list_item:nth-child(n+2) {
	margin-left: 80px;
}

.mainmenu_list_item_link {
	font-size: 18px;
	color: #333333;
}

.mainmenu li:last-child {
	border-right: none;
}

.toppage {
	width: 124px;
	height: 28px;
}

.toppage img:hover {
	opacity: 0;
	transition: 0.5s;
}

.toppage img {
	transition: opacity 0.5s ease-out;
}

.menu {
	width: 124px;
	height: 28px;
}

.menu img:hover {
	opacity: 0;
	transition: 0.5s;
}

.menu img {
	transition: opacity 0.5s ease-out;
}

.blog {
	width: 124px;
	height: 28px;
}

.blog img:hover {
	opacity: 0;
	transition: 0.5s;
}

.blog img {
	transition: opacity 0.5s ease-out;
}

.access {
	width: 124px;
	height: 28px;
}

.access img:hover {
	opacity: 0;
	transition: 0.5s;
}

.access img {
	transition: opacity 0.5s ease-out;
}

.contact {
	width: 124px;
	height: 28px;
}

.contact img:hover {
	opacity: 0;
	transition: 0.5s;
}

.contact img {
	transition: opacity 0.5s ease-out;
}

.content {
	width: 1000px;
	display: flex;
	margin-bottom: 50px;
}

.slidermain {
	width: 100%;
	background-color: red;
}

.slider {
	width: 1000px;
	margin: 10px;
}

.slider2 {
	display: none;
}

.smapho_nav {
	display: none;
	width: 100%;
	margin-bottom: 15px;
}

.smapho_nav ul {
	display: flex;
	justify-content: space-between;
}

.smapho_nav ul li a img {
	width: 100px;
	background: gray;
	border-radius: 5px;
}

.leftcolumn {
	width: 100%;
	width: 410px;
}

.news {
	width: 390px;
	margin: 0px 20px 20px 0px;
	background-color: white;
}

.news ul {
	border: 1px solid #666;
	margin: 0px;
	padding: 0px;
	font-size: 14px;
	overflow: scroll;
	line-height: 25px;
	height: 400px;
	margin-top: 10px;
}

.news ul li {
	border-bottom: 1px dotted;
	list-style: none;
	padding-left: 3px;
}

.news ul li img {
	margin: 4px 5px 0px 0px;
	vertical-align: top;
}

.news ul::-webkit-scrollbar {
	width: 4px;
	height: 10px;
}

.news ul::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #666;

}

h2 {
	font-size: 18px;
	font-weight: bold;
	color: #4c4c4c;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	color: #4c4c4c;
}

.sns {
	font-size: 0;
	width: 390px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	margin-right: 20px;
}

.sns li a img {
	width: 194px;
}

.sns li:hover img {
	opacity: 0.5;
}

.maincolumn {
	width: 340px;
}

.maincolumn h1 {
	margin-bottom: 10px;
}

.shop_list_title {
	font-size: 18px;
	font-weight: bold;
}

.shoplist img {
	width: 104px;
	height: 76px;
	object-fit: cover;
}

.shoplist {
	margin: 0px;
	font-size: 10px;
}

.shoplist {
	font-size: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
}

.shoplist li {
	background-color: #fff;
}

.shoplist li:nth-child(n+4) {
	margin-top: 4px;
}

.shoplist li:nth-child(n+2):not(:nth-child(3n+1)) {
	margin-left: 4px;
}

.shoplist li p {
	font-size: 10px;
	background-color: #963;
	color: white;
	line-height: 1.8em;
}

.shoplist li img:hover {
	opacity: 0.5;
}

.search {
	font-size: 11px;
	background: white;
	width: 300px;
	margin-top: 10px;
}

.searchinner {
	display: flex;
}

.search_left {
	width: 155px;
	background: url(/images/searchborder.gif) repeat-y right top;
}

.search_left h2 {
	margin-bottom: 15px;
}

.search_btn {
	background-image: url(../images/search_btn.png);
	border: none;
	width: 129px;
	height: 39px;
	cursor: pointer;
	margin-top: 8px;
}

.choicelist{
	margin-top: 6px;
}
.choicelist li {
	display: flex;
	align-items: center;
}
.choice_shopname{
	margin-top: 8px;
}
.condition {
	width: 165px;
	height: 64px;
	margin: 15px 0px 15px 0px;
}

.condition_list_item_icon {
	background-repeat: no-repeat;
	background-position: top 50% left 0;
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
}

.condition_list_item_icon_wifi {
	background-image: url(../images/wifi_regular.svg);
}

.condition_list_item_icon_parking {
	background-image: url(../images/car_regular.svg);
}

.condition_list_item_icon_smoking {
	background-image: url(../images/smoking_regular.svg);
}

.condition_list_item_icon_lunch {
	background-image: url(../images/utensils_regular.svg);
}

.condition_list_item_right {
	display: inline-block;
	vertical-align: top;
	margin-left: 4px;
}

.condition_list_item_check {
	margin: 0;
}

.condition li {
	width: 77px;
	display: inline-block;
}



.condition p+p {
	float: left;
	/* display:inline-block; */
	width: 30px;
}


.search_right {
	width: 155px;
	height: 100px;
	padding-left: 15px;
}

.search_right h2 {
	margin-bottom: 15px;
}

.search_right .map a img:hover {
	opacity: 0.5;
}

.sidemenu {
	width: 250px;
}

.sidemenu ul {
	padding: 0px;
	margin: 0px;
}

.sidemenu ul li {
	list-style: none;
	width: 250px;
	margin-bottom: 10px;
}

.sidemenu img:hover {
	opacity: 0.5;
}

.bunner ul li {
	margin-bottom: 10px;
}

.bunner li a img {
	list-style: none;
	width: 100%;
}

footer {
	width: 100%;
	background-color: darkgrey;
}

.footer {
	padding-top: 10px;
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
	background-color: darkgrey;
}

.footer ul {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.footer ul li {
	width: 150px;
	padding-right: 26px;
}

.footer ul li ul {
	flex-direction: column;
}

.footer ul li ul li {
	font-size: 12px;
	line-height: 2;
}

.menutitle {
	color: #fccb62;
	font-size: 14px;
	font-weight: bold;
	border-bottom: dotted white;
	padding-bottom: 7px;
}

.searchtitle {
	color: aqua;
	font-size: 14px;
	font-weight: bold;
	border-bottom: dotted white;
	padding-bottom: 7px;
}

.companytitle {
	color: #95ebe0;
	font-size: 14px;
	font-weight: bold;
	border-bottom: dotted white;
	padding-bottom: 7px;
}

.contacttitle {
	color: #d8f181;
	font-size: 14px;
	font-weight: bold;
	border-bottom: dotted white;
	padding-bottom: 7px;
}

.recruittitle {
	color: #a5d4ff;
	font-size: 14px;
	font-weight: bold;
	border-bottom: dotted white;
	padding-bottom: 7px;
}

.othertitle {
	color: #ba55d3;
	font-size: 14px;
	font-weight: bold;
	border-bottom: dotted white;
	padding-bottom: 7px;
}

ul.bxslider {
	margin: 0;
	padding: 0;
}

.copy {
	width: 271px;
	margin: 0 auto;
}

.wrap {
	/* overflow: hidden; */
}

/* @media screen and (max-width:769px) {
	body {
		width: 100%;
	}

	header {
		position: fixed;
		top: 0;
		width: 100%;
		height: 70px;
		margin: 0px auto 0px;
		padding: 10px 10px;
		z-index: 11;
		background-color: #fff;
	}

	header h1 img {
		width: 150px;
	}

	.slider {}

	#site_navi {
		display: none;
	}

	#site_navi_smapho {
		margin-top: 60px;
		display: block;
		position: absolute;
		right: -100%;
		width: 100%;
		height: 100vh;
		background: gray;
		transition: ease 0.7s;
		z-index: 9;
	}

	#site_navi_smapho ul {
		flex-direction: column;
	}

	#site_navi_smapho ul li {
		width: 100%;
		padding: 15px 30px;
		position: relative;
	}

	#site_navi_smapho ul li a {
		color: #fff;
	}

	#site_navi_smapho ul li::after {
		content: '';
		position: absolute;
		top: 10px;
		right: 110px;
		display: inline-block;
		background-image: url(../images/smapho_after.png);
		background-repeat: no-repeat;
		width: 30px;
		height: 25px;
		background-size: contain;
	}

	#site_navi_smapho ul li:not(:last-of-type) {
		border-bottom: 1px dotted #fff;
	}

	#menu_icon {
		display: block;
		position: fixed;
		top: 15px;
		right: 20px;
		width: 50px;
		height: 42px;
		cursor: pointer;
		transition: ease 1s;
		z-index: 10;
	}

	.line {
		display: block;
		position: absolute;
		right: 0;
		width: 25px;
		height: 2px;
		background-color: #000;
		transition: ease 1s;
		border-radius: 3px;
	}

	#linetarget1 {
		top: 0px;
	}

	#linetarget2 {
		top: 10px;
	}

	#linetarget3 {
		bottom: 20px;
	}

	.linehover1 {
		transform: translateY(10px) rotate(-45deg);
		top: 0;
	}

	.linehover2 {
		opacity: 0;
	}

	.linehover3 {
		transform: translateY(-10px) rotate(45deg);
		bottom: 0;
	}

	.in {
		transform: translateX(-70%);
	}

	.mainmenu {
		display: none;
	}

	main {
		margin-top: 70px;
		width: 100%;
		padding: 0px 10px;
	}

	#content {
		width: 100%;
		flex-wrap: wrap;
		margin-bottom: 0px;
	}

	#leftcolumn {
		width: 100%;
	}

	#news {
		width: 100%;
		margin: 10px 20px 20px 0px;
		background-color: white;
	}

	.slider {
		width: 100%;
		margin-bottom: 40px;
	}

	#slider2_wrap {
		padding: 10px 0px 20px 0px;
		width: 100%;
		border: black dotted 1px;
		border-right: 0px;
		border-left: 0px;
	}

	.slider2 {
		padding: 20px 0px 5px 0px;
		display: block;
		width: 200px;
		margin: 0 auto;
	}

	#smapho_nav {
		display: block;
	}

	#maincolumn {
		display: none;
	}

	#sns {
		width: 100%;
		margin-bottom: 20px;
	}

	#sns ul {
		width: 100%;
		display: flex;
		flex-wrap: nowrap;
	}

	#sns ul li {
		width: 100%;
		height: 100%;
	}

	#sns ul li a img {
		width: 100%;
	}

	#sidemenu {
		display: none;
	}

	#footer {
		display: none;
	}
} */