/* .test{
	height: 100vh;
	background-image: url(../images/ogasuta458A7873.jpg);
	position: sticky;
	z-index: -1;
} */

h2 {
	font-size: 18px;
	font-weight: bold;
	color: #4c4c4c;
}

h3 {
	font-size: 12px;
	font-weight: bold;
	color: #4c4c4c;
}

.main_bg {
	width: 100%;
	height: 100vh;
	background-image: url(../images/ogasuta458A7873.jpg);
	background-size: cover;
	background-position: left 0 top 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-blend-mode: overlay;
	background-color: rgba(0, 0, 0, 0.3);
	position: fixed;
}

.main_content_sitetop {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: calc(100vh - 72px);
}

.main_content_caption_top {
	font-size: 32px;
	color: #ffffff;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.main_content_caption_sub {
	font-size: 20px;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 0 30px 16px;
}

.main_content_shopname {
	font-family: "Open Sans", sans-serif;
	font-size: 80px;
	line-height: 1;
	margin-top: 84px;
	color: #ffffff;
	font-weight: 300;
}

.main_content_news_wrapper {
	background-color: rgba(0, 0, 0, 0.7);
	padding: 14px;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.main_content_news_title {
	text-align: center;
	color: #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-bottom: 6px;
	max-width: 20%;
}

.main_content_news_list {
	font-size: 18px;
	color: #ffffff;
	margin-top: 10px;
}

.main_content_news_list_item {
	font-size: 14px;
	color: #ffffff;
}

.main_content_news_list_item:nth-child(n+2) {
	margin-top: 12px;
}

.main_content_news_list_item_text {
	font-size: 14px;
	margin-left: 6px;
}

.main_content_slider_list {
	display: flex;
	width: 300px;
	overflow: hidden;
	position: absolute;
	bottom: 30px;
	right: 30px;
}

.main_content_slider_list_item {}

.main_content_slider_list_item_link {
	display: block;
}

.main_content_slider_list_item_img {
	width: 300px;
}

@media screen and (max-width:749px) {

	.main_content_sitetop {
		padding: 0 40px;
		height: auto;
	}

	.main_content_shopname {
		font-size: 60px;
	}

	.main_content_slider_list {
		position: static;
		margin-top: 50px;
	}

	.main_content_news_title {
		max-width: none;
		width: 150px;
		margin-inline: auto;
	}

	.main_content_news_wrapper {
		text-align: center;
		position: static;
		width: 100%;
		margin-top: 50px;
	}
}