.main_top_background {
    height: 60vh;
    background-image: url(../assets/main_top_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-position: top 0 left 0;
}



.menu_item_content {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    margin-top: 120px;
}

.menu_item_left {
    flex-grow: 1;
    margin-right: 30px;
}

.menu_item_title {
    font-size: 32px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.menu_item_detail_text {
    font-size: 14px;
    margin-top: 4px;
}

.menu_item_info_title {
    margin-top: 20px;
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 6px;
}

.menu_item_info_period {
    font-size: 12px;
    margin-top: 20px;
}

.menu_item_info_span_link {
    font-size: 13px;
    color: #675044;
    text-decoration: underline;
}

.menu_item_img {
    width: 40%;
    max-height: 250px;
    object-fit: cover;
}

@media screen and (max-width:749px) {
    .main_top_background {
        height: 20vh;
    }

    .menu_item_content{
        display: block;
        margin-top:40px;
    }

    .menu_item_left{
        padding-right: 0;
    }

    .menu_item_img {
        width: 100%;
        margin-top:12px;
    }
}