.main_top_bakcground {
    height: 60vh;
    background-image: url(../asset/main_top_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: lighten;
    background-attachment: fixed;
    background-position: top 0 left 0;
    margin-top: 16px;
}

h2 {
    font-size: 60px;
    font-weight: 300;
    color: #4c4c4c;
    font-family: "Open Sans", sans-serif;
    border-left: 1px solid #4c4c4c;
    padding-left: 50px;
    margin-top: 30px;
}

.main_content_menu {
    width: 980px;
    margin: 0 auto;
}

.menu_item_content {
    display: flex;
    justify-content: space-between;
}

.menu_item_content {
    margin-top: 120px;
}

.menu_item_left {
    flex-grow: 1;
    padding-right: 70px;
}

.menu_item_title {
    font-size: 32px;
    font-weight: 300;
    font-family: "Open Sans", sans-serif;
}

.menu_item_detail_text {
    font-size: 14px;
    margin-top: 4px;
}

.menu_item_info_title {
    margin-top: 20px;
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 6px;
}

.menu_item_info_period {
    font-size: 12px;
    margin-top: 20px;
}

.menu_item_info_span_link {
    font-size: 13px;
    color: #675044;
    text-decoration: underline;
}

.menu_item_img {
    width: 480px;
}