html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
}

body {
    font-family: 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
    scroll-behavior: smooth;
}

.portfolio_opening_wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all ease 0.8s;
}

.portfolio_opening_wrapper.inactive {
    opacity: 1;
    visibility: visible;
}

.portfolio_opening_texts {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    /* opacity: 0; */
    /* transition: opacity 0.2s; */
}

.portfolio_opening_texts span {
    animation: opening_animation 2s ease;
    animation-iteration-count: infinite;
}

@keyframes opening_animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.portfolio_menu {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    width: 100%;
    height: 64px;
    position: fixed;
    z-index: 1;
}

.portfolio_menu_list_button {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 24px;
    cursor: pointer;
}

.portfolio_menu_list_button_line {
    position: absolute;
    width: 24px;
    height: 2px;
    transition: transform 0.2s;
    background-color: #8b8b8b;
}

.portfolio_menu_list_button_line_middle {
    margin-top: 6px;
}

.portfolio_menu_list_button_line_bottom {
    margin-top: 12px;
}

.portfolio_menu_list_sp_overlay {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.portfolio_menu_list_sp_overlay.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
    visibility: visible;
}


.portfolio_menu_list_sp {
    width: 35%;
    height: 100vh;
    background-color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.2s;
}

.portfolio_menu_list_sp.active {
    transform: translateX(0);
}

.portfolio_menu_list_pc {
    display: none;
    justify-content: right;
}

.portfolio_menu_list_item_link {
    font-size: 16px;
    color: #333333;
}

.portfolio_menu_list_item:nth-of-type(n+2) {
    margin-left: 10px;
}

.portfolio_menu_list_item_link_sp {
    color: #ffffff;
    padding: 8px 0;
    display: block;
}

.portfolio_firstview {
    text-align: center;
    padding-top: 64px;
    background-color: #a7a2ff;
    padding: 0 10px 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.portfolio_firstview_title {
    color: #ffffff;
    font-size: 40px;
    transform: scale(0);
    transition: transform 0.6s;
}

.portfolio_firstview_title.show {
    transform: scale(1.2);
}

.portfolio_firstview_title_sub {
    color: #ffffff;
    font-size: 20px;
    margin-top: 20px;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.8s;
}

.portfolio_firstview_title_sub.show {
    transform: translateY(-20px);
    opacity: 1;
}

.portfolio_firstview_imgs {
    display: flex;
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.8s;
}

.portfolio_firstview_imgs.show {
    transform: translateY(-20px);
    opacity: 1;
}

.portfolio_firstview_img {
    width: 50%;
    vertical-align: middle;
    max-width: 300px;
}

.portfolio_firstview_down_button {
    width: 74px;
    height: 74px;
    border: 3px solid #ffffff;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    transition: all 0.8s;
    opacity: 0;
    animation: down_button infinite 1.5s;
    transition: all 0.8s;
    margin-top: 14px;
}

.portfolio_firstview_down_button.show {
    opacity: 1;
}

.portfolio_firstview_down_button_icon {
    width: 40px;
    height: 46px;
    position: absolute;
    top: 11px;
    left: 14px;
}

@keyframes down_button {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

.portfolio_content {
    font-size: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 20px;
}

.portfolio_content_inner {
    max-width: 1000px;
    margin: 0 auto;
}

.portfolio_content_title {
    font-size: 44px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

.portfolio_content:nth-child(even) {
    background-image: url(../images/portfolio_content_background.jpg);
    background-position: top 0 left 0;
    background-attachment: fixed;
}

.portfolio_content:nth-child(odd) {
    background-color: #fafafa;
    background-attachment: fixed;
}

.portfolio_text {
    font-size: 16px;
    color: #333333;
}

.portfolio_text_aboutme {
    width: calc(100% - 172px);
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.portfolio_aboutme_myicon {
    width: 160px;
    display: inline-block;
    vertical-align: middle;
    transform: scale(0);
    transition: transform 0.2s;
}

.portfolio_aboutme_myicon.show {
    transform: scale(1);
}

.portfolio_aboutme_text {
    font-size: 16px;
    display: inline-block;
    width: calc(100% - 160px);
    vertical-align: top;
}

.portfolio_aboutme_list {
    max-width: 300px;
    margin: 24px auto 0;
}

.portfolio_aboutme_item:nth-of-type(n+2) {
    margin-top: 6px;
}

.portfolio_aboutme_item_link {
    font-size: 0;
    color: #333333;
    display: block;
    vertical-align: middle;
}

.portfolio_aboutme_link_icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.portfolio_aboutme_link_text {
    font-size: 14px;
    vertical-align: middle;
    margin-left: 4px;
}

.portfolio_content_works {
    position: relative;
}

.portfolio_works_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 200px 200px; */
    grid-row-gap: 40px;
    grid-column-gap: 6px;
    margin-top: 30px;
}

.portfolio_works_list_item {
    background-color: #a7a2ff;
    transform: translateY(100px);
    opacity: 0;
    position: relative;
    transition: all 0.8s;
    cursor: pointer;
}

.portfolio_works_list_item.workanimationtarget.show {
    transform: translateY(0);
    opacity: 1;
}

.portfolio_works_list_item_sample {
    width: 100%;
}

.portfolio_overlay {
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.portfolio_overlay.active {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 3;
    visibility: visible;
}

.portfolio_modal_content {
    font-size: 0;
    background-color: #fafafa;
    width: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    transform: scale(0);
    transition: all 0.2s;
}

.portfolio_modal_content.active {
    transform: scale(1);
    width: 85%;
    padding: 20px;
}

.portfolio_modal_left {
    width: 45%;
}

.portfolio_modal_title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_modal_title::before {
    content: "";
    display: block;
    background-color: #333333;
    height: 1px;
    flex-grow: 1;
    margin-right: 20px;
}

.portfolio_modal_title::after {
    content: "";
    display: block;
    background-color: #333333;
    height: 1px;
    flex-grow: 1;
    margin-left: 20px;
}

.portfolio_modal_title::after {}

.portfolio_modal_text {
    font-size: 16px;
    color: #333333;
    line-height: 1.8;
}

.portfolio_modal_detail_list {
    margin-top: 30px;
}

.portfolio_modal_detail_item_link_text {
    color: #7171ff;
    font-size: 16px;
}

.portfolio_modal_detail_used_languages_title {
    color: #333333;
    font-size: 18px;
    margin-top: 30px;
}

.portfolio_modal_detail_used_languages_text {
    color: #333333;
    font-size: 14px;
}

.portfolio_modal_right {
    width: 50%;
}

.portfolio_modal_close {
    text-align: center;
    background-color: #7171ff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_modal_close_img {
    width: 24px;
    height: 38px;
    position: absolute;
    top: calc(50% - 19px);
}

.portfolio_modal_sample_list_item {
    width: 75px;
    height: 75px;
    display: inline-block;
}

.portfolio_modal_sample_list_item:nth-of-type(n+2) {
    margin-left: 4px;
}

.portfolio_modal_sample_list_item_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio_modal_sample {
    width: 100%;
    max-width: 700px;
    margin-top: 10px;
}

.portfolio_skill_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px 100px; */
    grid-row-gap: 40px;
    grid-column-gap: 6px;
}

.portfolio_skill_list_item {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.8s;
}

.portfolio_skill_list_item.show {
    transform: translateY(0);
    opacity: 1;
}

.portfolio_works_list_item_text {
    font-size: 16px;
    color: #333333;
    text-align: center;
    background-color: #d3d3d3;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.portfolio_skill_list_item_icon {
    width: 100px;
}

.portfolio_skill_list_item_text {
    font-size: 16px;
    color: #333333;
    text-align: start;
    word-break: break-all;
}

.portfolio_profile_content {
    display: flex;
    overflow: hidden;
}

.portfolio_profile_year {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #535eff;
    width: 20%;
    position: relative;
    top: 140px;
}

.portfolio_profile_year_first {
    top: 0;
}

.portfolio_profile_right {
    border-left: 4px solid #000;
    padding-left: 16px;
    width: 80%;
}

.portfolio_profile_right {
    padding-top: 140px;
}

.portfolio_profile_right_first {
    padding-top: 0;
}

.portfolio_profile_icon {
    border-radius: 50%;
    border: 4px solid #7171ff;
    display: block;
    width: 150px;
    height: 150px;
    object-fit: contain;
    transform: scale(0);
    transition: transform 0.2s;
}

.portfolio_profile_icon.show {
    transform: scale(1);
}

.portfolio_profile_detail {
    background-color: #7171ff;
    padding: 10px;
    width: 100%;
    margin-top: 18px;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.2s;
    visibility: hidden;
}

.portfolio_profile_detail.show {
    transform: translateX(0px);
    opacity: 1;
    visibility: visible;
}

.portfolio_profile_detail_title {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}

.portfolio_profile_detail_text {
    font-size: 16px;
    color: #ffffff;
}

.portfolio_profile_feeling_title {
    font-size: 32px;
    color: #333333;
    text-align: center;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.8s;
    margin-top: 66px;
}

.portfolio_profile_feeling {
    font-size: 16px;
    color: #333333;
    line-height: 1.8;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.8s;
    max-width: 850px;
    margin: 20px auto 0;
}

.portfolio_profile_feeling_title.show {
    transform: translateY(0px);
    opacity: 1;
}

.portfolio_profile_feeling.show {
    transform: translateY(0px);
    opacity: 1;
}

.portfolio_content_like_list_item {
    font-size: 16px;
    color: #333333;
}

.portfolio_text_contact {
    max-width: 850px;
    margin: 46px auto 0;
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.8s;
}

.portfolio_contact {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.8s;
    margin-top: 30px;
}

.portfolio_text_contact.show {
    transform: translateY(0);
    opacity: 1;
}

.portfolio_contact.show {
    transform: translateY(0);
    opacity: 1;
}

.portfolio_contact_name_content,
.portfolio_contact_email_content {
    position: relative;
    display: inline-block;
    width: calc(50% - 8px);
}

.portfolio_contact_email_content {
    margin-left: 16px;
}

.portfolio_contact_text_content {
    position: relative;
    margin-top: 36px;
}

.portfolio_contact_label {
    font-size: 16px;
    color: #333333;
    position: absolute;
    top: 0;
    left: 0;
    cursor: text;
    transition: transform 0.2s, color 0.2s, font-size 0.2s;
}

.portfolio_contact_input:focus+.portfolio_contact_label {
    font-size: 12px;
    transform: translateY(-22px);
    color: #a7a2ff;
}

.portfolio_contact_label.active {
    font-size: 12px;
    transform: translateY(-22px);
    color: #a7a2ff;
}

.portfolio_contact_input,
.portfolio_contact_email {
    padding: 6px 6px 6px 0;
    border: 0;
    border-bottom: 2px solid #a7a2ff;
    background-color: transparent;
    width: 100%;
}

.porfolio_contact_text {
    border: 0;
    border-bottom: 2px solid #a7a2ff;
    background-color: transparent;
    padding: 0;
    display: block;
    width: 100%;
    resize: none;
}

.portfolio_contact_input:active,
.portfolio_contact_input:focus,
.portfolio_contact_email:active,
.portfolio_contact_email:focus,
.porfolio_contact_text:active,
.porfolio_contact_text:focus {
    outline: none;
}

.portfolio_contact_submit {
    color: #ffffff;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    background-color: #a7a2ff;
    padding: 10px 0;
    width: 140px;
    display: block;
    margin: 24px auto 0;
}

.portfolio_content_footer {
    height: 400px;
    text-align: center;
    background-color: #a7a2ff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio_footer_text {
    color: #ffffff;
    font-size: 34px;
    font-weight: bold;
    white-space: nowrap;
    word-break: break-all;
}

.portfolio_footer_copy {
    text-align: center;
    background-color: #7171ff;
    height: 70px;
    width: 100%;
    position: relative;
}

.portfolio_footer_copy_top_button {
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: #7171ff;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -35px;
    left: calc(50% - 50px);
}

.portfolio_footer_copy_top_button_img {
    width: 50px;
    height: 57px;
}

.portfolio_footer_copy_text {
    color: #ffffff;
    font-size: 16px;
    position: relative;
    top: calc(50% - 12px);
}

@media screen and (max-width:767px) {

    .portfolio_modal_content {
        height: 90vh;
        overflow: scroll;
    }

    .portfolio_menu_list_pc {
        display: none;
    }

    .portfolio_modal_content {
        display: block;
    }

    .portfolio_modal_left {
        width: auto;
    }

    .portfolio_modal_right {
        width: auto;
    }
}

@media screen and (max-width:959px) {
    .portfolio_skill_list,.portfolio_works_list {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:768px) {
    .portfolio_menu_list_button {
        display: none;
    }

    .portfolio_menu_list_pc {
        display: flex;
    }

    .portfolio_menu_list_sp {
        display: none;
    }
}

@media screen and (max-width:519px) {

    .portfolio_firstview_title {
        font-size: 32px;
        white-space: nowrap;
        word-break: break-all;
    }

    .portfolio_firstview_title.show {
        transform: scale(1);
        white-space: nowrap;
        word-break: break-all;
    }

    .portfolio_footer_text {
        font-size: 28px;
    }

    .portfolio_skill_list {
        grid-template-columns: 1fr;
    }
}