.simulator_wrapper{
	display: flex;
}
.skill_order_list{
	display: flex;
	flex-wrap: wrap;
	gap :20px;
}

.skill{
	background-color:#ddd;
}

.skill:nth-of-type(n+2){
	/* margin-left:20px; */
}

.skill{
	width: 64px;
	height: 64px;
	border: 1px solid #555555;
}

.skill_icon_list{
	display: flex;
	flex-wrap: wrap;
}

.skill_icon_list_item{
	width: 40px;
	height: 40px;
}

.skill_icon_list_item_img{
	width: 100%;
}
