.portfolio {
	/* opacity: 0; */
}

.portfolio_load_wrapper {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.9);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	z-index: 2;
	transition: all ease 0.8s;
}

.portfolio_load_wrapper.inactive {
	opacity: 1;
	visibility: visible;
}

.portfolio_load_content {
	text-align: center;
}

.portfolio_load_text_content {
	/* overflow: hidden; */
	height: 24px;
}

.portfolio_load_text {
	color: #333333;
	font-size: 24px;
	font-weight: bold;
	line-height: 1;
	/* transform: translateY(-24px); */
	animation: animation_text infinite 0.8s;
}

@keyframes animation_text {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.portfolio_load_icon {
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #333333;
	animation: loading_icon infinite 1s;
	margin-top: 14px;
}

@keyframes loading_icon {
	0% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-10px);
	}

	100% {
		transform: translateY(0);
	}
}

.portfolio_load_icon:nth-child(n+2) {
	margin-left: 4px;
}

.portfolio_contents_panel {
	font-size: 16px;
	padding: 6px;
	width: 100%;
	border: solid 2px #ffffff;
	border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.3);
}

.portfolio_myphoto {
	font-size: 0;
	background-color: #000000;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.portfolio_myphoto_pc {
	border-radius: 5px;
}

.portfolio_myphoto_pc {
	border-radius: 5px;
}

.portfolio_myphoto img {
	width: 100%;
}

.portfolio_myphoto_overlay {
	background-color: #000000;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	animation: myphoto_overlay 1s;
	animation-delay: 0.8s;
	animation-fill-mode: forwards;
}

@keyframes myphoto_overlay {
	0% {
		left: 0;
	}

	100% {
		left: 100%;
	}
}

.portfolio_panel_about {
	font-size: 16px;
	width: 100%;
}

.portfolio_about_title_image {
	display: block;
	width: 180px;
}

.portfolio_panel_inner_text {
	font-size: 16px;
	color: #ffffff;
}

.portfolio_panel_inner_text_attention {
	text-align: right;
	font-size: 12px;
	color: #ffffff;
	margin-top: 14px;
}

.portfolio_panel_news {
	overflow: scroll;
	margin-top: 6px;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	border-radius: 5px;
	box-shadow: 0 0 4px #aaa inset;
}

::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: gray;
}

.portfolio_panel_inner_news_list li:first-of-type::before {
	color: #ff0000;
	content: 'New';
	font-size: 16px;
	animation: news_new_animation 1s linear infinite;
	display: block;
}

@keyframes news_new_animation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.portfolio_panel_inner_news_list_item {
	border-bottom: 1px dotted #ffffff;
	padding: 6px 0;
}

.portfolio_panel_inner_news_list_item:first-child {
	padding-top: 0;
}

.portfolio_panel_inner_news_list_item:last-child {
	border-bottom: none;
	padding-bottom: 0;
}

.portfolio_panel_news_list_item_date {
	font-size: 16px;
	color: #ffffff;
}

.portfolio_panel_news_list_item_text {
	font-size: 16px;
	color: #ffffff;
}

.portfolio_panel_contact {
	font-size: 16px;
	margin-top: 6px;
	width: 100%;
	max-height: 610px;
}

.contact_title_image {
	display: block;
	width: 100px;
}

.portfolio_panel_inner_contact_list_item:nth-child(n+2) {
	margin-top: 4px;
}

.contact_icon {
	display: inline-block;
	vertical-align: middle;
	width: 21px;
	height: 21px;
}

.contact_text {
	display: inline-block;
	vertical-align: middle;
	word-break: break-all;
	overflow-wrap: break-word;
}

@media screen and (min-width:768px) {
	.portfolio {
		animation: portfolio_opacity_animation 0.7s;
		animation-delay: 0.4s;
		animation-fill-mode: forwards;
		transition: opacity 1.5s;
	}

	.portfolio_contents {
		display: grid;
		grid-template-columns: 2.7fr 1fr;
		grid-template-areas:
			"myphoto myphoto"
			"about about"
			"news contact";
		gap: 6px;
		font-size: 0;
		padding: 0;
		width: 100%;
		max-width: 1000px;
		margin-top: 6px;
	}

	.portfolio_myphoto_smapho {
		display: none;
	}

	.portfolio_myphoto {
		grid-area: myphoto;
	}

	.portfolio_panel_about {
		grid-area: about;
	}

	.portfolio_panel_news {
		grid-area: news;
		margin-top: 0;
	}

	.portfolio_panel_contact {
		grid-area: contact;
		min-width: 266px;
		margin-top: 0;
	}

	.portfolio_contents_wrapper {
		width: 100%;
		margin-top: 6px;
	}
}

@media screen and (max-width:767px) {
	.portfolio_myphoto_smapho {
		display: none;
	}

	.portfolio_myphoto_pc {
		display: block;
	}
}

@media screen and (max-width:391px) {
	.portfolio_myphoto_smapho {
		display: block;
	}

	.portfolio_myphoto_pc {
		display: none;
	}
}