.portfolio_panel_web {
	margin-top: 6px;
}

.portfolio_panel_inner_list_item_info {
	font-size: 14px;
}

.portfolio_panel_inner_list_item_info_title {
	font-weight: bold;
	font-size: 16px;
}

.portfolio_panel_inner_list_item_info p {
	padding-left: 10px;
}

.portfolio_panel_inner_list_item_info_soft_list {
	display: flex;
	flex-wrap: wrap;
}

.portfolio_panel_inner_list_item_info_soft_list_item::after {
	content: '\02F';
	padding: 0 6px;
}

.portfolio_panel_inner_list_item_info_soft_list_item:last-child::after {
	content: '';
}

.portfolio_panel_inner_list_item_link {
	width: 200px;
	height: 200px;
	overflow: hidden;
	transition: transform 0.2s ease;
}

.portfolio_panel_inner_list_item_link_img {
	transition: transform 0.2s ease;
}

.portfolio_panel_inner_list_item_link_img:hover {
	transform: scale(1.2);
}

@media screen and (min-width:768px) {
	.portfolio_contents {}

	.portfolio_panel_inner_list_item_info {
		margin-left: 10px;
	}

	.portfolio_panel_inner_list_item {
		display: flex;
	}

	.portfolio_panel_inner_list_item:nth-child(n+2) {
		margin-top: 30px;
	}

}